.faq {
    .info-card {
        max-width: 890px;
        width: 75%;
    }

    @media (orientation: landscape) {
        .info-card {
            width: 50%;
        }
    }

    .sm-icons {
        padding-bottom: 86px;
    }
}

.divider {
    height: 1px;
    background: #e1e1e1;
    width: 66%;
    margin: 0 auto;
}

.faq-block {
    //padding-top: 22%;
    padding-top: 23px;
    // max-width: 90%;
    max-width: 88%;
    margin: 0 auto;
    width: 950px;
    margin-bottom: 20px;

    h2 {
        font-size: 36px;
        line-height: normal;
        text-align: center;
    }

    .question {
        // text-align: right;
        font-weight: bold;
        font-size: 21px;
    }

    .answer {
        text-align: left;
    }

    // p {
    //     font-size: 18px;
    // }

    @media #{$medium-and-up} {
        margin-bottom: 60px;

        .question {
            text-align: right;
        }
    }
}

.faq-grid {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 0;

    @media #{$medium-and-up} {


        grid-template-columns: 1fr 1fr;
        /* grid-template-columns: 0.95fr 1.05fr; */
    
        grid-gap: 0 42px;
    }




    > div {
        padding-top: 42px;
    }

    p {
        margin: 0;
        margin-bottom: 20px;
    }
}
