$game-spacing: 4px;


.game-grid {
    display: grid;
    margin: 0 $game-spacing;
    grid-template-columns: 1fr 1fr 1fr;

    &.double {
        grid-template-columns: 1fr 1fr;
    }


}

.games-block {
    position: relative;
    width: 100%;
    margin-top: $game-spacing;

    h2 {
        font-size: 36px;
        line-height: normal;
        text-align: center;
        margin-bottom: 10px;
        max-width: 88%;
    }
}


.games-tag {
    font-size: 19px;
    line-height: normal;
    text-align: center;
    color: #76768d;
    /* margin-top: -10px; */
    margin-bottom: 31px;
    max-width: 88%;
}


.game-row {
    display: flex;
    flex-direction: row;
    margin: 0 $game-spacing;
}

.game-container {
    position: relative;
    // width: 460px;
    margin: $game-spacing;
    background: #fdcedd;
    // height: 215px;

    // flex: 1 1 0px;

    a {
        margin: 0;
        padding: 0;
        border: 0;
        text-decoration: none;
    }
}

.game-block {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 100%;


}

.game-bg {
    width: 100%;
    height: 100%;

    transition: all .5s ease;
    img {
        // vertical-align: top;
        object-fit: cover;
        width: 100%;
        height: 100%;
    }

    &:hover {
        transform: scale(1.1);
    }
}

// .game-bg {
//     width: 100%;
//     height: 100%;
//     position: absolute;
//     top: 0;
//     left: 0;
//     z-index: 1;
//     background-color: transparent;
//     background-position: center center;
//     background-repeat: no-repeat;
//     background-size: cover;
// }

.platform-icons {
    position: absolute;
    right: 5%;
    bottom: 5%;
    color: white;

    z-index: 2;

    i {
        font-size: 23px;
        margin-right: 6px;
        filter: drop-shadow(0 2px 6px rgba(50, 50, 93, 0.47)) drop-shadow(0 1px 2px rgba(0, 0, 0, 0.47));    }
}